@page
@using ILikeClinic.Model
@using Microsoft.AspNetCore.Identity
@model ILikeClinic.Pages.Patient.PatientMakeAppointmentModel
@{
}

<br />
<h1 class="text-info">Make An Appointment</h1>
<br />

<div class="border container p-4">
    <form method="post" enctype="multipart/form-data">

        <input hidden asp-for="Doctor.Id" />
        <input hidden asp-for="Patient.Id" />


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group-lg row fs-5 ">
            <h3>Step 1:</h3>
        </div>
        <br />
        <div class="form-group row fs-4">
            <div class="col-3 offset-1">
                <label>Patient's Name :</label>
            </div>
            <div class="col-6">
                @Model.Patient.FullName
            </div>
            <br />
            <br />
            <br />
        </div>


        <div class="form-group-lg row fs-5 ">
            <h3>Step 2:</h3>
            <span>*Choose your family doctor, or you can choose another doctor, or call us by 456-456-4566.</span>

        </div>
            <br />
        <div class="form-group row fs-4">
            <div class="col-3 offset-1">
                <label asp-for="Appointment.DoctorId">Choose a doctor: </label>
            </div>
            <div class="col-6">   
                @if(Model.Doctor != null) {
                    <div>@Model.Doctor.FullName</div>
                }
                else {
                    <select id="selectedDoctor" class="custom-select w-100" asp-for="Appointment.DoctorId" asp-items="Model.DoctorList">
                        <option value="">--Select a doctor--</option>
                    </select>
                }
                 
            </div>
            <span asp-validation-for="Appointment.DoctorId" class="text-danger fs-5"></span>
        </div>
        <br />
        <br />
        

        <div class="form-group-lg row fs-5">
            <h3>Step 3:</h3>
            <div class="col-4">
                <label asp-for="Appointment.AppStartAt">*Check the schedule and choose a time slot.</label>
            </div>
            <div class="col-6">
                <input class="form-control" id="dateSelect" asp-for="Appointment.AppStartAt" asp-format="{0:yyyy-MM-dd}"  />
            </div> 
        </div>
        <br />
        <br />
        <div class="form-group row fs-4">
            <div id="datepicker" class="col-6"></div>
            <div id="timepicker" class="col-3">
                <table id="timePickerTable" class="tg">
                        <thead>
                            <tr>Time Selection</tr>
                        </thead>
                    </table>
          </div>
        </div>
        <br />
        <br />


        <div class="form-group-lg row fs-4">
            <h3>Step 4:</h3>
        </div>

        <div class="form-group row fs-5">
            <div class="col-4">
                <label asp-for="Appointment.Reason">*Reason for appointment:</label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Appointment.Reason" />
            </div>
            <span asp-validation-for="Appointment.Reason" class="text-danger fs-5"></span>
        </div>
        <br />
        <br />
        <br />
        <div class="fs-5">*If you have medical document needed to declare, please upload it (Optional)</div>
        <br />

        <div class="form-group row fs-5">

            <div class="col-3">
                <label asp-for="Appointment.FileUrl">Upload Medical Document:</label>
            </div>
            <div class="col-6">
                <input type="file" id="uploadbox" class="form-control" name="file" />
            </div>
            <span asp-validation-for="Appointment.FileUrl" class="text-danger fs-5"></span>
        </div>
        <br />



        <br />
        <div class="form-group row fs-3">
            @if(Model.Doctor != null) {
                <div class="col-3">
                    <a asp-page="PatientFindDoctor" class="text-info form-control fs-5">To the Doctor list</a>
                </div>
            }
            else {
                <div class="col-3">
                    <a asp-page="PatientAppointment" class="text-info form-control fs-5">To the Appointment list</a>
                </div>
            }

            <div class="col-3">
                <button type="submit" class="btn btn-info form-control  ">Create</button>
            </div>


        </div>

    </form>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg .tg-selected {
                background-color: #50C878;
                text-align: left;
                vertical-align: top
            }
            .tg .tg-locked {
                background-color: #808080;
                text-align: left;
                vertical-align: top
            }

    </style>
</div>


@section Scripts{

    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                minDate: 0,
                onSelect: function (dateText) {
                    const selectedDoctor = $("#selectedDoctor").val()
                    if (selectedDoctor != '') {
                        console.log("date = " +  dateText + " with value of " + this.value)
                        $("#dateSelect").val(this.value+"T00:00")
                        $.ajax({
                            type: "GET",
                            url: "/Patient/PatientMakeAppointment?handler=TimeSlots",
                            data: { selectedDate: this.value,
                                doctorID: parseInt($("#selectedDoctor").val())},
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function(data){
                                createTimeTable(data);
                            },
                            error: function () {
                                alert("there was an error");
                            }
                        })

                    } else {
                        alert("Select a doctor first");
                    }
                }
            });
        });

        function createTimeTable(data){
            console.log(data)

            $('#timePickerTable tbody').empty();
            var html = "";
            if(data != null){
                html += '<tbody>';

                $.each(data, function (key, value) {
                    html += '<tr>'
                    var key = Object.keys(value)[0]
                    if (value[key] == false){
                        html += '<td class="tg-locked">' + new Date(Object.keys(value)[0]).getHours() + ':00' + '</td>'
                    }else{
                        html += '<td>' + new Date(Object.keys(value)[0]).getHours() + ':00' + '</td>'
                    }

                    html += '</tr>'
                });
                html += '</tbody>';

                $('#timePickerTable').append(html);
                installListener();
            }
        }
        function installListener(){
            $("#timePickerTable tr").click(function () {
                if ($(this).find(':first-child').hasClass("tg-locked")) {
                    alert("This time slot is already taken")
                } else {
                    $(this).addClass('tg-selected').siblings().removeClass('tg-selected');
                    var value = $(this).find('td:first').html();
                    var thisDate = new Date($("#dateSelect").val());
                    var hoursToSet = value.toString().split(":")[0];
                    var day =  ("0" + thisDate.getDate()).slice(-2);
                    var month = ("0" + (thisDate.getMonth() + 1)).slice(-2)
                    var timeString = thisDate.getFullYear() + "-" + month + "-" + day + "T" + hoursToSet + ":00:00";
                    console.log("timestring = ", timeString);
                    console.log("Setting hours ", hoursToSet);
                    //thisDate.setHours(hoursToSet);
                    $("#dateSelect").val(timeString)
                }
            });
            }

    </script>
}