@page
@model ILikeClinic.Pages.Admin.IndexModel
@{

}
<partial name="_ToastrNotification" />


<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="overview" role="tabpanel">
      <br/>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Doctors</font></font></div>
  <div class="card-body">   
    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
        <a class="text-primary">20 </a>doctors.</font></font></p>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Patients</font></font></div>
  <div class="card-body">

    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
         <a class="text-primary">145 </a>
         patients.</font></font></p>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Appointments</font></font></div>
  <div class="card-body">
    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Your clinic has 
          <a class="text-primary">50 </a>
           new appointments.</font></font></p>
  </div>
</div>



  </div>
 

   
