@page
@using ILikeClinic.Model
@using Microsoft.AspNetCore.Identity
@model ILikeClinic.Pages.Doctors.DoctorModifyAppointmentModel
@{
    ViewData["Title"] = "Doctor modify appointment for the patient";
}



@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<partial name="_ToastrNotification" />
<br />
<h1 class="text-info">Make An Appointment</h1>
<br />

<div class="border container p-4">
    <form method="post" enctype="multipart/form-data">

       
        
        <input hidden asp-for="Doctor.Id"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>




        <div class="form-group-lg row fs-5 ">
            <h3>Step 1:</h3>

        </div>
        <br />
        <div class="form-group row fs-4">
            <div class="col-3 offset-1">
                <label asp-for="Doctor.FullName"></label> 
                
            </div>
            <div class="col-6">
                @Model.Doctor.FullName
            </div>
           
        </div>
        <br />
        <br />


        <div class="form-group-lg row fs-5 ">
            <h3>Step 2:</h3>

        </div>
        <br />
        <div class="form-group row fs-4">
            <div class="col-3 offset-1">
                <label asp-for="Patient.FullName"></label>

            </div>
            <div class="col-6">
                @Model.Patient.FullName
            </div>

        </div>
        <br />
        <br />


        <div class="form-group-lg row fs-5">
            <h3>Step 3:</h3>
            <div class="col-4">
                *Check the schedule and choose a time slot.
            </div>
            <div class="col-6">
                <input class="form-control" id="dateSelect" asp-for="Appointment.AppStartAt" asp-format="{0:yyyy-MM-dd}" />
            </div>
        </div>
        <br />
        <br />
        <div class="form-group row fs-4">
            <div id="datepicker" class="col-3 "></div>
        </div>
        <br />
        <br />


        <div class="form-group-lg row fs-4">
            <h3>Step 4:</h3>
        </div>

        <div class="form-group row fs-5">
            <div class="col-4">
                <label asp-for="Appointment.Reason">*Reason for appointment:</label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Appointment.Reason" />
            </div>
            <span asp-validation-for="Appointment.Reason" class="text-danger fs-5"></span>
        </div>
        <br />
        
       
        <br />



        <br />
        <div class="form-group row fs-3">

            <div class="col-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>

            <div class="col-6">
                <a asp-page="AppointmentToDoctor"
                   class="btn btn-secondary form-control text-bg-info">See Appointment list</a>

            </div>

        </div>

    </form>

</div>


@section Scripts{

    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
               
                onSelect: function (dateText, inst) {
                    //Get today's date at midnight
                    var today = new Date();
                    today = Date.parse(today.getMonth() + 1 + '/' + today.getDate() + '/' + today.getFullYear());
                    //Get the selected date (also at midnight)
                    var selDate = Date.parse(dateText);

                    if (selDate < today) {
                        //If the selected date was before today, continue to show the datepicker
                        $('#datepicker').val('');
                        $(inst).datepicker('show');
                    }
                    console.log("date = " + dateText + " with value of " + this.value)
                       $("#dateSelect").val(this.value + "T00:00")
                }
            });
        });
    </script>
}