<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ILikeClinic</title>
    <link rel="stylesheet" href="~/css/BootswatchMateria.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ILikeClinic.styles.css" asp-append-version="true" />
    <!--Toastr-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <!--DataTable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/date-1.1.2/r-2.3.0/sc-2.0.7/sb-1.3.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="nav-item bg-primary text-white">
            <i class="bi bi-info-circle"></i><a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html" target="_blank"> Find out about COVID-19</a><br />
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold" style="padding-left:80px" asp-area="" asp-page="/Index">ILikeClinic</a>
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/logo.png" width="250px" height="100px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
@*                      <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin">Admin</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Doctor">Doctor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Patient/PatientHome">Patient</a>
                        </li>*@
                    </ul>
                     <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>

    </header>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="nav-tabs p-1">
            <ul class="nav nav-tabs nav-justified bg-primary" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Doctors</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/FAQ">FAQ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Identity/Account/Login">Appointment</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/AboutUs">About Us</a>
                </li>

            </ul>
        </div>
    }
    @if (User.IsInRole("Doctor"))
    {
        <div class="nav-tabs p-1">
            <ul class="nav nav-tabs nav-justified bg-primary" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Doctors/Upsert">Doctor Profile</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Doctors/PatientList">Patient List</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">FAQ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="#">Appointment</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Message Box</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Doctors/Schedule">Schedule</a>
                </li>
            </ul>
        </div>
    }

    @if (User.IsInRole("Admin"))

    {
        <div class="nav-tabs p-1">
            <ul class="nav nav-tabs nav-justified bg-primary" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Admin/Index" >Overview</a>
                </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Admin/Doctor_List" >Doctor</a>
                </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Admin/Patient_List" >Patient</a>
                </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Admin/Appointment_List" >Appointment</a>
                </li>
                 <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="#" >FAQ</a>
                </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Admin/Message_List" >MessageBox</a>
                </li>

            </ul>
        </div>
    }
    @if (User.IsInRole("Patient"))

    {
        <div class="nav-tabs p-1">
            <ul class="nav nav-tabs nav-justified bg-primary" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-white" asp-page="/Patient/PatientHome">My Profile</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link  text-white" asp-page="/Patient/PatientFindDoctor"> Doctor</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link  text-white" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">FAQ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link  text-white" asp-page="/Patient/PatientAppointment">Appointment</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link  text-white" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Message Box</a>
                </li>

            </ul>
        </div>
    }

    <div class="container">
        <main role="main"  class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary">
        <div class="container text-white text-center">
            &copy; 2022 - ILikeClinic Copyright - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>