@page
@model ILikeClinic.Pages.AboutUsModel
@{
}
 
 
@*            <div class="nav-tabs p-4">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" asp-page="index" >Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" asp-page="aboutUs" >About us</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Appointments</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" asp-page="Doctor" >Doctors</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">FAQ</a>
                    </li>
                </ul>
            </div>
            <br />*@
 
            <div class="row">
                <div class="col-sm-4">
                    <a class="navbar-brand" ><img src="~/images/clinic.png" width="50%" height="50%" /></a>
                </div>
                <div class="col-sm-4">
                    <p class="navbar-brand" >Many of the patients come to ILikeClinic locations. ILikeClinic is dedicated to continuing minority health and wellness efforts. Through education and awareness programs, personalized health care, and innovative research, ILikeClinic strives to eliminate health disparities within our communities and help prevent and reduce illness and premature death in minority populations. ILikeClinic  also promotes and encourages diversity and inclusion.</p>
					<p class="navbar-brand" >ILikeClinic researchers study potential treatments for cancer, heart disease, memory disorders and other diseases that often occur in minority populations and conduct clinical trials. Health disparities are differences in disease burden, disability and mortality in a defined population. Populations affected by disparities include racial and ethnic minorities, people who live in diverse geographic locations, women, children, older people, and people with disabilities.Because of health disparities, some populations have higher rates of disease compared with the general population. Several ILikeClinic programs address health disparities.</p>
                </div>
            </div>
            <br />
 
            <div class="row">
                <div class="col-sm-4">
                    <p class="nav-link text-dark"><strong>Contact Us</strong></p>
                    <p class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Doctor">Tel: 514-tel-xxxx</p>
                    <p class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/FAQ">Fax: 514-fax-xxxx</p>
                    <p class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Home">Email: ilikeclinic@gmail.com</p>
                    <p class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Home">Address: 123 street Montreal, H1H 2H2</p>
                </div>
                <div class="col-sm-4">
                    
                </div>
            </div>

