@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@*<div class="nav-tabs p-4">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" asp-page="index">Home</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" asp-page="aboutUs" >About us</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Appointments</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" asp-page="Doctor" >Doctors</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">FAQ</a>
        </li>
    </ul>
</div>*@

<a class="navbar-brand" ><img src="~/images/background.png" width="100%" height="100%" /></a>
<h1 class="" style="position:absolute;left:700px;top:600px;font-size:500%">Your Health Is Our Priority</h1>
<footer class="border-top footer bg-primary h-50">
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-4">
                <p class="nav-link text-white"><strong>For Patients</strong></p>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Doctor">Find a doctor</a>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/FAQ">Ask a question</a>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Home">Search an information</a>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Home">Request an appointment</a>
            </div>
            <div class="col-sm-4">
                <p class="nav-link text-white"><strong>For Medical Professionals</strong></p>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Doctor">Find a doctor</a>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/patient">Refer a patient</a>
                <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Home">View an appointment</a>
            </div>
            <div class="col-sm-4">
                <p class="nav-link text-white"><strong>Contact Us</strong></p>
                <p class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Doctor">Tel: 514-tel-xxxx</p>
                <p class="nav-link text-white" id="login" asp-area="Identity" asp-page="/FAQ">Fax: 514-fax-xxxx</p>
                <p class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Home">Email: ilikeclinic@gmail.com</p>
                <p class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Home">Address: 123 street Montreal, H1H 2H2</p>
            </div>
        </div>
    </div>

</footer>