@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="images/bg.png" alt="bg-car" style=" position: absolute;left:30px; top:150px; width:1900px; height:950px" />
    <h1 class="" style="position:absolute;left:700px;top:600px;font-size:500%">Your Health Is Our Priority</h1>    
</div>
